extends ../site

block js
	script(type='text/javascript', src='/js/administration/city.js')

block content
	.theme-showcase(role='main')
		.page-header
			h1=title

	.col-md-6
		.panel.panel-default
			.panel-heading.clearfix
				h4.panel-title.pull-left Catalogos de Paises
				.btn-group.btn-group-sm.pull-right
					buttin.btn.btn-primary
						i.fa.fa-plus
			.panel-body
				.col-md-12
					table#tblCountry.footable.table.table-hover
						thead
							tr
								th(data-hide='all',data-ignore='true') ID
								th Descripcion
								th
						tbody
							for city in JSON.parse(dataCollection)
								tr
									td=city.id
									td=city.description
									td
										.btn-group
											button.btn.btn-default(onclick='showCountryInfo('+city.id+','+city.description+'")')
												i.fa.fa-edit
											button.btn.btn-default(onclick='getCollectionCity('+city.id+')')
												i.fa.fa-eye
											button.btn.btn-danger
												i.fa.fa-eraser

	.col-md-6
		.panel.panel-default
			.panel-heading.clearfix
				h4.panel-title.pull-left Catalogos de Ciudades
				.btn-group.btn-group-sm.pull-right
					button#btAddCity.btn.btn-primary(onclick='showCityInfo(0)')
						i.fa.fa-plus
			.panel-body
				.col-md-12
					#tblCity

	#mdlCity.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabelCity', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') ×
						span.sr-only Close
					h4#myModalLabelCity.modal-title Informacion de Pais
				.modal-body
					#panel-city.form-group
							label.control-label(for='txCity') Pais
							input#txCity.form-control(type='text')
							input#txIdCity(type='hidden')
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal', onclick='')
						i.fa.fa-arrow-left
						|  Cancelar
					button.btn.btn-primary(type='button', onclick='addCity()')
						i.fa.fa-floppy-o
						|  Grabar

	#mdlCountry.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabelCountry', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') ×
						span.sr-only Close
					h4#myModalLabelCountry.modal-title Informacion de Pais
				.modal-body
					#panel-country.form-group
							label.control-label(for='txCountry') Pais
							input#txCountry.form-control(type='text')
							input#txIdCountry(type='hidden')
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal')
						i.fa.fa-arrow-left
						|  Cancelar
					button.btn.btn-primary(type='button')
						i.fa.fa-floppy-o
						|  Grabar