footer
	.col-md-3.col-xs-12
		ul.list-unstyled
			li
				a(href='//www.elcomercio.com.ec/')
					i.fa.fa-rss-square
					|  El comercio
	.col-md-3.col-xs-12
		ul.list-unstyled
			li
				a(href='//ec.linkedin.com/pub/sergio-chancay/36/778/8aa/')
					i.fa.fa-linkedin-square
					|  Desarrollador
			li
				a(href='//github.com/sercheo87/SysDoctor')
					i.fa.fa-github
					|  Repositorio
			li
				a(href='//github.com/sercheo87/SysDoctor')
					i.fa.fa-skype
					|  Contacto