extends ../site

block js
	script(type='text/javascript', src='/js/home/administration.js')

block content
	.theme-showcase(role='main').col-md-12
		.page-header
			h3=title

		.panel.panel-primary.visible-md.visible-lg
			.panel-heading.clearfix
			
				.btn-group.pull-right
					button.btn.btn-primary(data-calendar-nav='prev') Previo
					button.btn.btn-default(data-calendar-nav='today') Actual
					button.btn.btn-primary(data-calendar-nav='next') Siguiente

				.btn-group.pull-left
					button.btn.btn-warning(data-calendar-view='year') Año
					button.btn.btn-warning.active(data-calendar-view='month') Mes
					button.btn.btn-warning(data-calendar-view='week') Semana
					button.btn.btn-warning(data-calendar-view='day') Dia
		.row
			.col-md-12
				.calendar.visible-md.visible-lg
				#eventlist.hidden-md.hidden-lg

		#events-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title Cita Medica
					.modal-body
						.detail
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Cerrar