extends ../site

block js
	script(type='text/javascript', src='/js/patients/add.js')

block content
	.theme-showcase(role='main')
		
		h1=title

		form#frmPatient.form-horizontal(role='form',method='post')
			.form-group
				legend Informacion General
			include personal_info