extends ../site

block js
	script(type='text/javascript', src='/js/patients/detail.js')

block content
	.theme-showcase(role='main')
		.page-header
			h2=title

		//Nav tabs 
		ul#myTab.nav.nav-tabs
			li.active
				a(href='#pnlInformation', data-toggle='tab') Informacion Personal
			li
				a#tabinfogeneral(href='#ctnTblCtrlMedic', data-toggle='tab') Informacion General
			li
				a(href='#ctnDiet', data-toggle='tab') Dietas
		//Tab panes 
		.tab-content
			#pnlInformation.tab-pane.fade.active.in
				.panel.panel-default
					.panel-body
						.form-horizontal
							include personal_info

			#ctnTblCtrlMedic.tab-pane.fade
				.panel.panel-default
					.panel-body
						form#frMedical.form-horizontal.form(role='form')
							.row
								.col-md-6
									label.control-label(for='tx_med_habit') Habitos
									input#tx_med_habit.form-control.spaced-alphanumeric(type='text', placeholder='Habitos')
								.col-md-6
									label.control-label(for='tx_med_antecedent') Antecedentes
									input#tx_med_antecedent.form-control.spaced-alphanumeric(type='text', placeholder='Antecedentes Familiares')
								.col-md-6
									label.control-label(for='tx_med_alergy') Alergias
									input#tx_med_alergy.form-control.spaced-alphanumeric(type='text', placeholder='Alergias')
								.col-md-6
									label.control-label(for='tx_med_bloodtype') Tipo de Sangre
									input#tx_med_bloodtype.form-control.alphanumeric(type='text', placeholder='Tipo de Sangre')
								.col-md-12
									label.control-label(for='tx_med_observation') Observacion
									textarea#tx_med_observation.form-control.spaced-alphanumeric(type='text', placeholder='Observacion')
								.col-md-12
									br
									a#btcancelGeneralMedGen.btn.btn-default(type='button')
										i.fa.fa-arrow-left
										|  Cancelar
									a#btokGeneralMedGen.btn.btn-primary(type='button')
										i.fa.fa-floppy-o
										|  Grabar

			#ctnDiet.tab-pane.fade
				.panel.panel-default
					.panel-body
						include ../diet/list

		br

		.panel.panel-default
			.panel-heading.clearfix
				h4#lbtitlecontrol.panel-title.pull-left
				.btn-group.btn-group-sm.pull-right
					span#itemFilter.btn.btn-default
						i.fa.fa-filter
					span#itemPrint.btn.btn-default
						i.fa.fa-print
					span#itemAddControl.btn.btn-primary
						i.fa.fa-plus-square
			.panel-body
				#ctnTblControl.col-md-12
				form#frMedConDetail.form(role='form')
					.row
						.col-md-6
							.form-group
								label.control-label(for='tx_mcd_id',disabled='disabled') Codigo
								input#tx_mcd_id.form-control(name='tx_mcd_id',type='text', placeholder='Codigo', disabled='disabled')

						.col-md-6
							.form-group
								label.control-label(for='tx_mcd_date') Fecha
								input#tx_mcd_date.form-control(name='tx_mcd_date',type='text', placeholder='Fecha', disabled='disabled')

						.col-md-3
							.form-group
								label.control-label(for='tx_mcd_weidth') Peso
								.input-group
									span.input-group-addon Kg
									input#tx_mcd_weidth.form-control.integer(name='tx_mcd_weidth',type='text', placeholder='Peso')

						.col-md-3
							.form-group
								label.control-label(for='tx_mcd_size') Altura
								.input-group
									span.input-group-addon Cm
									input#tx_mcd_size.form-control.integer(name='tx_mcd_size',type='text', placeholder='Altura')

						.col-md-3
							.form-group
								label.control-label(for='tx_mcd_pressure') Presion
								input#tx_mcd_pressure.form-control.alphanumeric(name='tx_mcd_pressure', type='text', placeholder='Presion')

						.col-md-3
							.form-group
								label.control-label(for='tx_mcd_pulse') Pulso
								input#tx_mcd_pulse.form-control.alphanumeric(name='tx_mcd_pulse',type='text', placeholder='Pulso')

						.col-md-12
							.form-group
								label.control-label(for='tx_mcd_reason') Motivo
								textarea#tx_mcd_reason.form-control.spaced-alphanumeric(name='tx_mcd_reason',type='text', placeholder='Motivo')

						.col-md-12
							.form-group
								label.control-label(for='tx_mcd_observation') Observaciones
								textarea#tx_mcd_observation.form-control.spaced-alphanumeric(name='tx_mcd_observation',type='text', placeholder='Observaciones')

					a#btcancelMedAppointment.btn.btn-default(type='button')
						i.fa.fa-arrow-circle-o-left
						|  Cancelar

					a#btokMedAppointment.btn.btn-primary(type='button')
						i.fa.fa-floppy-o
						|  Grabar
					hr
					fieldset
						table#tbl_recipe.table.table-hover
							thead
								tr
									th
									th.text-center
										| Medicamento
									th.text-center
										| Dosis
									th.text-center
										| Nota
							tbody

	script(type='text/javascript').
		var dataPatient = !{JSON.stringify(dataId)};
