extends ../site

block js
	script(type='text/javascript', src='/js/patients/list.js')

block content
	.theme-showcase(role='main')
		.page-header
			h1=title

	.panel.panel-default
		.panel-heading.clearfix
			h4.panel-title.pull-left Listado de Pacientes
			.btn-group.btn-group-sm.pull-right
				span#sppatientslist.btn.btn-default
					i.fa.fa-filter
		.panel-body
			#ctnTblPatients.col-md-12
//
	select.selectpicker(data-live-search='true')
		optgroup(label='Picnic')
			option Mustard
			option Ketchup
			option Relish
		optgroup(label='Camping')
			option Tent
			option Flashlight
			option Toilet Paper
