.panel.panel-default
	.panel-heading
		h4.panel-title Registro de Dietas
	.panel-body
	table#tbldiet.table.table-responsive.table-hover.table-striped
		thead
			tr
				th #
				th LUNES
				th MARTES
				th MIERCOLES
				th JUEVES
				th VIERNES
				th SABADO
				th DOMINGO
				th
		tbody

script(type='text/javascript', src='/js/diet/list.js')