doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title=title
    block css
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/styles/style.css')

      script(type='text/javascript', src='http://localhost:35729/livereload.js')
      script(type='text/javascript', src='/components/jquery/dist/jquery.min.js')
      script(type='text/javascript', src='/components/jquery-validation/jquery.validate.js')
      script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')
      script(type='text/javascript', src='/components/bootbox/bootbox.js')
      script(type='text/javascript', src='/components/handlebars/handlebars.min.js')
      script(type='text/javascript', src='/js/jquery-validation-bootstrap-tooltip-master/jquery-validate.bootstrap-tooltip.min.js')
      script(type='text/javascript', src='/js/app_config.js')
      block js

    block favicon
      link(rel='shortcut icon', href='/img/favicon.ico')
  body
    include controls/navigation_bar
    .container
      block content_master