doctype 5
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title=title
		block css
			link(rel='stylesheet', href='/components/footable/css/footable.core.css')
			link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
			link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
			link(rel='stylesheet', href='/components/bootstrap-calendar/css/calendar.min.css')
			link(rel='stylesheet', href='/components/bootstrap-select/bootstrap-select.css')
			link(rel='stylesheet', href='/components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css')
			link(rel='stylesheet', href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css')
			link(rel='stylesheet', href='/components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
			link(rel='stylesheet', href='/css/app.css')

			script(type='text/javascript', src='http://localhost:35729/livereload.js')
			script(type='text/javascript', src='/components/jquery/dist/jquery.min.js')
			script(type='text/javascript', src='/components/jquery-validation/dist/jquery.validate.min.js')
			script(type='text/javascript', src='/components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
			script(type='text/javascript', src='/components/devbridge-autocomplete/dist/jquery.autocomplete.min.js')
			script(type='text/javascript', src='/components/browser-i18n/i18n.js')
			script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')
			script(type='text/javascript', src='/components/underscore/underscore-min.js')
			script(type='text/javascript', src='/components/jstimezonedetect/jstz.js')
			script(type='text/javascript', src='/components/bootstrap/js/tooltip.js')
			script(type='text/javascript', src='/components/moment/moment.js')
			script(type='text/javascript', src='/components/moment/lang/es.js')
			script(type='text/javascript', src='/components/bootstrap-calendar/js/calendar.min.js')
			script(type='text/javascript', src='/components/bootstrap-calendar/js/language/es-ES.js')
			script(type='text/javascript', src='/components/bootbox/bootbox.js')
			script(type='text/javascript', src='/components/bootstrap-select/bootstrap-select.js')
			script(type='text/javascript', src='/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
			script(type='text/javascript', src='/components/handlebars/handlebars.min.js')
			script(type='text/javascript', src='/components/footable/dist/footable.min.js')
			script(type='text/javascript', src='/components/footable/dist/footable.paginate.min.js')
			script(type='text/javascript', src='/components/footable/dist/footable.filter.min.js')
			script(type='text/javascript', src='/components/footable/dist/footable.sort.min.js')
			script(type='text/javascript', src='/components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js')
			script(type='text/javascript', src='/components/jquery-mockjax/jquery.mockjax.js')
			script(type='text/javascript', src='/components/socket.io-client/dist/socket.io.js')
			script(type='text/javascript', src='/components/jspdf/dist/jspdf.min.js')
			script(type='text/javascript', src='/components/jQuery-Storage-API/jquery.storageapi.min.js')
			script(type='text/javascript', src='/vendor/bootstrap-growl-master/bootstrap-growl.min.js')
			script(type="text/javascript", src='/components/bootstrap-datepicker/js/bootstrap-datepicker.js')
			script(type='text/javascript', src='/js/app_config.js')
			script(type='text/javascript', src='/js/validation.js')

			block jsmaster
			block js

		block favicon
			link(rel='shortcut icon', href='/img/favicon.ico')
	body
		include controls/navigation_bar
		.container
			block content_master

		include controls/footer